mixin codeGradient
	| #[span.u-color-second .block] {#[br]
	| #[span.u-tab]#[span.u-color-second background]: linear-gradient(#[br]
	| #[span.u-double-tab]to bottom,#[br]
	| #[span.u-double-tab]#1473e6,#[br]
	| #[span.u-double-tab]#[span.u-color-brand.js-info-func],#[br]
	| #[span.u-double-tab]#2d9d78#[br]
	| #[span.u-tab]);#[br]
	| }
