mixin codeGradient
	| #[span.u-color-second .block] {#[br]
	| #[span.u-tab]#[span.u-color-second background]: linear-gradient(#[br]
	| #[span.u-double-tab]to bottom,#[br]
	| #[span.u-double-tab]#166cc1,#[br]
	| #[span.u-double-tab]#[span.u-color-brand.js-info-func],#[br]
	| #[span.u-double-tab]#00C853#[br]
	| #[span.u-tab]);#[br]
	| }
