mixin codeGradient
	pre
		| #[span.u-color-second .block] {
		| 	#[span.u-color-second background]: linear-gradient(
		| 		to bottom,
		| 		#1473e6,
		| 		#[span.u-color-brand.js-info-func],
		| 		#247b5e
		| 	);
		| }
