@function px2rem($pixels, $context: 16px) {
	@if (unitless($pixels)) {
		$pixels: $pixels * 1px;
	}

	@if (unitless($context)) {
		$context: $context * 1px;
	}

	@return $pixels / $context * 1rem;
}

$system-fonts: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;

$offset-block: 15px;

$transition: 0.2s;
$transition-card: 1s;
$transition-show: 1.5s;
$transition-show-delay: 0.3s;

$background: #f8f8f8;

$text-color: #222;
$chart-color: $text-color;
$text-light-color: #666;
$chart-axis-color: #ccc;

$text-dark: #222;
$text-light: #fff;

$brand: #1976d2;
$text-on-brand: $text-light;

$brand-light: #63a4ff;
$text-on-brand-light: $text-dark;

$brand-dark: #004ba0;
$text-on-brand-dark: $text-light;

$second: #00c853;
$text-on-second: $text-dark;

$second-light: #5efc82;
$text-on-second-light: $text-dark;

$second-dark: #009624;
$text-on-second-dark: $text-dark;

$corner-radius: 0px;

$opensource-size: 80px;
$opensource-size-root: 100px;
$opensource-transition-duration: .6s;
$opensource-transition-timing-func: cubic-bezier(0.455, 0.03, 0.515, 0.955);
$opensource-ratio-bg: 9;

$chart-width: 125px;
$chart-height: 85px;

$wrap-width: 1050px;
$max-readable-text-width: 800px;

$media-medium: 900px;
$media-small: 550px;

$a11y-offset: -4px;

$line-height: 1.35;
$general-line-height-px: 22px;
$general-line-height: px2rem($general-line-height-px);

$title-size: px2rem(42);
$title-size-small: px2rem(30);
$title-line-height: $general-line-height * 2;
$title-offset: .25em;

$subtitle-size: px2rem(26);
$subtitle-size-small: px2rem(22);
$subtitle-line-height: $general-line-height * 2;

$info-background-offset-vertical: -10px;
$info-background-offset-horizontal: -15px;
$info-background-color: #fff;

@mixin wrap($vertical-padding: 0) {
	box-sizing: border-box;
	width: 100%;
	margin: 0 auto;
	max-width: $wrap-width;
	padding: $vertical-padding 15px;
}

@mixin visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

@mixin block-default {
	box-shadow: 0 2px 8px rgba(#000, .05);
}

@mixin block-hover {
	box-shadow: 0 12px 30px 0 rgba(#000, .2);
}

@mixin block-active {
	box-shadow: 0 2px 8px rgba(#000, .05);
}

@mixin a11y-outline {
	position: relative;

	&::after {
		content: '';
		position: absolute;
		top: $a11y-offset;
		right: $a11y-offset;
		bottom: $a11y-offset;
		left: $a11y-offset;
		pointer-events: none;
		box-shadow: 0 0 1px 4px $brand;
		border-radius: $corner-radius;
		transition: $transition;
		opacity: 0;
	}

	&.focus-visible {
		&::after {
			opacity: 1;
		}
	}

	&:focus-visible {
		&::after {
			opacity: 1;
		}
	}
}
