@function px2rem($pixels, $context: 16px) {
	@if (unitless($pixels)) {
		$pixels: $pixels * 1px;
	}

	@if (unitless($context)) {
		$context: $context * 1px;
	}

	@return $pixels / $context * 1rem;
}

$system-fonts: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;

$transition: 0.2s;
$transition-show: 1.5s;
//$transition-show: 3.5s;
$transition-show-delay: 0.3s;

$text-color: #222;
$chart-color: $text-color;
$chart-axis-color: #ccc;
$brand: #FF3333;

$chart-width: 125px;
$chart-height: 85px;

$wrap-width: 1080px;

$media-medium: 900px;
$media-small: 550px;

@mixin wrap {
	box-sizing: border-box;
	width: 100%;
	margin: 0 auto;
	max-width: $wrap-width;
	padding: 0 15px;
}

@mixin visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}
