@import "var";

.b-card {
	position: relative;
	overflow: hidden;
}

	.b-card__image {
		width: 100%;
		display: block;
	}

	.b-card__wrap {
		position: absolute;
		z-index: 1;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-start;
		background: rgba(#000, .7);
		color: #fff;
		box-sizing: border-box;
		padding: px2rem(10) px2rem(15);

		transition: $transition-card linear;
	}

			.b-card__wrap--no-transition {
				transition: none;
			}

			.b-card__wrap--opacity {
				opacity: 0;
			}

			.b-card__wrap--scale {
				transform: scale(0);
			}

			.b-card__wrap--translate {
				transform: translateX(-100%);
			}

		.b-card__text {

		}
