@import "var";

.b-case {
	padding: #{1.5 * $general-line-height} #{$general-line-height/2} 0;
	min-width: 200px;
	box-sizing: border-box;
	flex: 1 1 auto;
}

	.b-case__title {
		padding: 0 0 $general-line-height/2;
	}
