@import "var";

.b-chart {
	box-sizing: border-box;
	position: relative;
	display: block;
	text-decoration: none;

	&:active {
		transform: none;
	}
}

	.b-chart__image {
		width: $chart-width;
		height: $chart-height;
		overflow: visible;
		display: block;
	}

		.b-chart__curve {
			fill: none;
			stroke-width: 3px;
			stroke-linecap: round;
			transform: translate(1px, -1px);
		}

		.b-chart__axis {
			fill: none;
			stroke-width: 1px;
			stroke: $chart-axis-color;
			opacity: 0;
			transition: $transition;
		}

				.b-chart--active .b-chart__axis {
					opacity: 1;
				}

		.b-chart__dot {
			fill: none;
			stroke: $brand;
			stroke-width: 5px;
			transform: translate(1px, -1px);

			opacity: 0;
			transition: stroke-dashoffset 0s, opacity $transition;
			transition-delay: 0s, 0s;
			will-change: stroke-dashoffset, opacity;
		}

				.b-chart--active .b-chart__dot {
					opacity: 1;
					transition: stroke-dashoffset $transition-show, opacity $transition;
					transition-delay: $transition-show-delay, 0s;
				}

		.b-chart__text {
			fill: $chart-axis-color;
			font-size: px2rem(10);
			transition: $transition;
			opacity: 0;
		}

				.b-chart--active .b-chart__text {
					opacity: 1;
				}


	.b-chart__cursor {
		position: absolute;
		bottom: -3px;
		right: -15px;
		opacity: 0;
		will-change: transform, opacity;
		transition: transform 0s, opacity $transition;
		transition-delay: 0s, 0s;

		&::after {
			content: '';
			display: block;
			width: 8px;
			height: 8px;
			border-radius: 0 50% 50% 50%;
			background: $brand;
			transform: rotate(-45deg);
		}
	}

			.b-chart--active .b-chart__cursor {
				opacity: 1;
				transform: translateY(-$chart-height);
				transition: transform $transition-show, opacity $transition;
				transition-delay: $transition-show-delay, 0s;
			}

@media (max-width: $wrap-width) {
	$chart-width: 100px;
	$chart-height: 70px;

	.b-chart {
		width: $chart-width;
	}

	.b-chart__image {
		width: $chart-width;
		height: $chart-height;
		margin: 0 auto;
	}

	.b-chart--active .b-chart__cursor {
		transform: translateY(-$chart-height);
	}
}

@media (max-width: 1000px) {
	$chart-width: 80px;
	$chart-height: 50px;

	.b-chart {
		width: $chart-width;
	}

	.b-chart__image {
		width: $chart-width;
		height: $chart-height;
		margin: 0 auto;
	}

	.b-chart--active .b-chart__cursor {
		transform: translateY(-$chart-height);
	}
}

@media (max-width: $media-medium) {
	$chart-width: 125px;
	$chart-height: 85px;

	.b-chart {
		width: $chart-width;
	}

	.b-chart__image {
		width: $chart-width;
		height: $chart-height;
		margin: 0 auto;
	}

	.b-chart--active .b-chart__cursor {
		transform: translateY(-$chart-height);
	}
}

@media (max-width: $media-small) {
	$chart-width: 100px;
	$chart-height: 70px;

	.b-chart {
		width: $chart-width;
	}

	.b-chart__image {
		width: $chart-width;
		height: $chart-height;
		margin: 0 auto;
	}

	.b-chart--active .b-chart__cursor {
		transform: translateY(-$chart-height);
	}
}
