@import "var";

.b-columns {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: center;
	box-sizing: border-box;
	transition: $transition;
	padding: 1rem 0 0;
}
		.b-columns--hide {
			position: absolute;
			left: 0;
			right: 0;
			opacity: 0;
			visibility: hidden;
			transform: translateY(-20px);
		}

	.b-columns__group {
		flex: 0 0 calc(50% - 30px);
		display: flex;
		justify-content: center;
		box-sizing: border-box;
		margin: 0 15px 45px;
	}


@media (max-width: $media-medium) {
	.b-columns {
		flex-direction: column;
		flex-wrap: nowrap;
		align-items: center;
	}
}

@media (max-width: $media-small) {
	.b-columns__group {
		flex-wrap: wrap;
		margin: 0 0 px2rem(30);
	}
}
