@import "var";

.b-columns {
	box-sizing: border-box;
	padding: .25rem 0 0;
	transition: $transition;
}
		.b-columns--hide {
			position: absolute;
			left: 0;
			right: 0;
			opacity: 0;
			visibility: hidden;
		}

	.b-columns__wrap {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: center;
		margin: 0 -15px;
	}

		.b-columns__group {
			display: flex;
			flex-wrap: wrap;
			align-items: stretch;
			justify-content: center;
			width: calc(50% - #{$general-line-height});
			box-sizing: border-box;
			margin: 0 $general-line-height/2 $general-line-height;
		}


@media (max-width: $media-medium) {
	.b-columns__group {
		width: 100%;
		text-align: center;
	}
}

@media (max-width: $media-small) {
	.b-columns__group {
		margin: 0 0 px2rem(30);
	}
}
