@import "var";

.b-details {
	margin: #{$general-line-height / 2} 0 0;
}

	.b-details__summary {
		outline: none;
		user-select: none;
		cursor: pointer;

		@include a11y-outline;
	}

	.b-details__content {
		margin: #{$general-line-height / 2} 0 #{$general-line-height};
	}

		.b-details__code {
			outline: none;
			width: 100%;
			max-height: 250px;
			display: block;
			box-sizing: border-box;
			padding: 0 #{$general-line-height / 2};
			transition: $transition;

			white-space: pre;
			word-wrap: break-word;
			font-family: $code-fonts;
			font-size: px2rem(13);
			line-height: $line-height;
			tab-size : 25px;

			overflow: auto;
			-webkit-overflow-scrolling: touch;
			border: 1px solid $text-light-color;

			position: relative;
			z-index: 1;
			background: #fff no-repeat;
			background-image: radial-gradient(farthest-side at 50% 0, rgba(#000, 0.2), rgba(#000, 0)),
				radial-gradient(farthest-side at 50% 100%, rgba(#000, 0.2), rgba(#000, 0));
			background-position: 0 0, 0 100%;
			background-size: 100% 10px;

			&::before,
			&::after {
				content: "";
				position: relative;
				z-index: -1;
				display: block;

				margin: 0 0 -15px;
				height: 30px;
				background: linear-gradient(to bottom, #fff, #fff 30%, rgba(#fff, 0));
			}

			&::after {
				margin: -15px 0 0;
				background: linear-gradient(to bottom, rgba(#fff, 0), #fff 70%, #fff);
			}
		}
