@import "var";

.b-example {
	font-size: 1rem;

	code {
		font-family: monospace;
		font-size: 14px;
		line-height: 1.2;
	}
}

		.b-example + .b-example {
			padding: $general-line-height 0 0;
		}

	.b-example__title {
		font-size: $subtitle-size;
		font-weight: 500;
		line-height: $subtitle-line-height;
		margin: 0;
		padding: 0;
	}

	.b-example__text {

	}

	.b-example__code {
		padding: $general-line-height/2 0;
		margin: px2rem(-2) 0;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;

		white-space: pre;
		word-wrap: break-word;
		font-family: $code-fonts;
		font-size: px2rem(13);
		line-height: $line-height;
		tab-size : 25px;
	}

		.b-example__tab {
			width: 25px;
			height: 1px;
			display: inline-block;
		}

				.b-example__tab--big {
					width: 50px;
				}
		
		.b-example__gradient {
			max-width: 100%;
			width: 300px;
			height: 200px;
			display: none;
			margin: #{$general-line-height / 2} 0;
		}

@media (max-width: $media-small) {
	.b-example__title {
		font-weight: 400;
		font-size: $subtitle-size-small;
	}
}
