@import "var";

.b-footer {
	padding: px2rem(20) 0;
}

	.b-footer__group {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
	}

		.b-footer__copyright {
			text-align: center;
		}

		.b-footer__lang {
			display: flex;
			justify-content: flex-end;
			margin: 0 0 px2rem(5);
		}

@media (max-width: $media-medium) {
	.b-footer__group {
		flex-direction: column-reverse;
	}

		.b-footer__copyright {
			margin: 0 auto;
		}
}
