@import "var";

.b-footer {
	padding: px2rem(20) 0;
}

	.b-footer__definition {
		width: 100%;
		max-width: 800px;
		text-align: justify;
		hyphens: auto;
		padding: 0 0 1rem;

		p {
			padding: 0 0 .5em;
			margin: 0;
		}
	}

	.b-footer__group {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
	}

		.b-footer__copyright {
			text-align: center;
		}

		.b-footer__lang {
			display: flex;
			justify-content: flex-end;
			margin: 0 0 px2rem(5);
		}
