@import "var";

.b-function {
	width: calc(100%/3 - 10px);
	max-width: 160px;
	box-sizing: border-box;
	padding: px2rem(15) px2rem(15) px2rem(8);
	margin: 0 5px 10px;
	transition: $transition;
	position: relative;
	outline: none;
	display: flex;
	flex-direction: column;
	border-radius: $corner-radius;
	@include shadow;

	&:active {
		@include shadow-active;
	}

	@include a11y-outline;
}

		.b-function--focus {
			&::after {
				opacity: 1;
			}
		}

		.b-function--active {
			z-index: 1;
			@include shadow-hover;
		}

		.b-columns--hide .b-function:not(.b-function--open) {
			opacity: 0;
			visibility: hidden;
		}

		.b-function--open {
			box-shadow: none;

			&::after {
				opacity: 0;
			}
		}

	.b-function__chart {
		margin: 0 auto;
		outline: none;
		position: relative;
		width: 100%;
		transition: none;

		&:active {
			transform: none;
		}
	}

	.b-function__caption {
		padding: .75em 0 0;
		font-size: 1rem;
		text-align: center;
		transition: $transition;
		margin: auto 0 0;
	}

			.b-function--open .b-function__caption {
				opacity: 0;
				visibility: hidden;
			}

@media (max-width: $wrap-width) {
	.b-function__caption {
		font-size: px2rem(14);
	}
}

@media (max-width: 450px) {
	.b-function {
		width: auto;
	}
}
