@import "var";

.b-header {
	padding: $general-line-height/2 0;

	display: flex;
	align-items: flex-start;
}

	.b-header__definition {
		width: 100%;
		max-width: #{$max-readable-text-width + 100px};
		text-align: justify;
		hyphens: auto;
		padding: 0 #{2*$general-line-height} 0 0;

		p {
			padding: 0 0 $general-line-height/2;
			margin: 0;
		}
	}

	.b-header__opensource {
		flex: 0 0 auto;
	}

@media (max-width: $media-medium) {
	.b-header__definition {
		padding: 0;
	}

	.b-header__opensource {
		display: none;
	}
}

@media (max-width: $media-small) {
	.b-header__definition {
		padding-right: 0;
	}
}
