@import "var";

.b-header {
	padding: 2rem 0 1rem;
	font-size: px2rem(18);
}

	.b-header__more {
		text-decoration: none;

		&::after {
			content: '';
			display: block;
			border-bottom: 1px dotted currentColor;
			margin: -.1em 0 0;
		}
	}
