@import "var";

.b-info {
	opacity: 0;
	visibility: hidden;
	transition: $transition;
	display: none;
	position: relative;
	z-index: 2;
	margin: 0 0 $general-line-height;
}

		.b-info--evident {
			opacity: 1;
			visibility: visible;
		}

	.b-info__header {
		margin: 0 0 $general-line-height;
	}

		.b-info__back {

		}

	.b-info__wrap {
		display: flex;
		align-items: flex-start;
	}

		.b-info__case {
			vertical-align: top;
			box-sizing: border-box;
			padding: 0 0 0 20px;
			width: 100%;
			flex: 0 1 350px;
		}

		.b-info__main {
			flex: 1 1 auto;
			width: 1px;
			min-width: 60%;
			max-width: $max-readable-text-width;
			box-sizing: border-box;
			margin-top: -1rem;
		}

			.b-info__title {
				font-size: $title-size;
				font-weight: 500;
				line-height: $title-line-height;
				margin: 0;
				padding: 0 0 $title-offset;
			}

@media (max-width: 800px) {
	.b-info__wrap {
		margin: 0;
		display: block;
	}

		.b-info__case {
			padding: 0;
			width: 100%;
		}

		.b-info__main {
			padding: 0 0 $general-line-height*2;
			width: 100%;
		}
}

@media (max-width: $media-small) {
	.b-info__title {
		font-size: $title-size-small;
	}
}
