@import "var";

.b-info {
	opacity: 0;
	visibility: hidden;
	transition: $transition;
	display: none;
	position: relative;
	z-index: 1;
	transform: translateY(20px);
	background: $background;
}

		.b-info--hide {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			z-index: 1;
		}

		.b-info--evident {
			opacity: 1;
			visibility: visible;
			transform: translateY(0);
		}

	.b-info__header {
		margin: 0 0 $general-line-height;
	}

		.b-info__back {
			display: inline-flex;
			align-items: center;
			margin: 0 0 0 -2px;
			border: none;
			position: relative;

			&::before {
				content: '';
				display: block;
				position: absolute;
				top: -.5em;
				bottom: -.5em;
				left: -.5em;
				right: -1em;
				z-index: -1;
				background: rgba(#fff, .5);
				pointer-events: none;
				transition: $transition;
				opacity: 0;
			}

			&:hover,
			&:focus {
				&::before {
					opacity: 1;
				}
			}
		}

	.b-info__wrap {
		display: flex;
		align-items: flex-start;
	}

		.b-info__case {
			vertical-align: top;
			box-sizing: border-box;
			padding: 0 0 $general-line-height*2 20px;
			width: 100%;
			flex: 0 0 300px;
		}

		.b-info__main {
			flex: 1 1 auto;
			max-width: $max-readable-text-width;
			box-sizing: border-box;
			padding: 0 0 $general-line-height*2;
			margin-top: -1rem;
		}

			.b-info__title {
				font-size: $title-size;
				font-weight: 500;
				line-height: $title-line-height;
				margin: 0;
				padding: 0 0 $title-offset;
			}

@media (max-width: 800px) {
	.b-info__wrap {
		margin: 0;
		display: block;
	}

		.b-info__case {
			padding: 0;
			width: 100%;
		}

		.b-info__main {
			padding: 0 0 $general-line-height*2;
			width: 100%;
		}
}

@media (max-width: $media-small) {
	.b-info__title {
		font-size: $title-size-small;
	}
}
