@import "var";

.b-info-chart {
	position: relative;
	width: 100%;
	padding: $general-line-height 0 $general-line-height 1px;
}

		.b-info-chart--offset_top {
			padding-top: 2 * $general-line-height;
		}

	.b-info-chart__wrap {
		position: relative;
		color: $chart-axis-color;
		max-width: 150px;

		&::after {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: -1px;
			left: -1px;
			border-left: 1px solid currentColor;
			border-bottom: 1px solid currentColor;
		}
	}

		.b-info-chart__curve {
			fill: none;
			stroke: $brand;
			stroke-width: 1px;
			stroke-linecap: round;
			overflow: visible;
			display: block;
		}

		.b-info-chart__text {
			font-size: px2rem(14);
			position: absolute;
			top: 1px;
			left: 5px;
		}

				.b-info-chart__text--bottom {
					top: auto;
					left: auto;
					right: 8px;
					bottom: 4px;
				}
