@import "var";

.b-info {
	opacity: 0;
	visibility: hidden;
	transition: $transition;
	display: none;
	position: relative;
	z-index: 1;
}

		.b-info--evident {
			opacity: 1;
			visibility: visible;
		}

	.b-info__header {
		margin: 0 0 $general-line-height;
	}

		.b-info__back {
			text-decoration: none;
			color: $brand;
			border-bottom: 1px solid transparent;
			padding: 0 3px;

			&:hover,
			&:focus {
				border-bottom-color: currentColor;
			}

			&::before {
				content: '';
				display: inline-block;
				width: 10px;
				height: 10px;
				border-top: 1px solid currentColor;
				border-left: 1px solid currentColor;
				transform: rotate(-45deg);
				top: -1px;
				position: relative;
			}
		}

	.b-info__wrap {
		font-size: 0;
	}

		.b-info__chart {
			display: inline-block;
			width: 40%;
			vertical-align: top;
			box-sizing: border-box;
			padding: 0 20px $general-line-height*2 0;
		}

		.b-info__main {
			display: inline-block;
			width: 60%;
			max-width: $max-readable-text-width;
			box-sizing: border-box;
			padding: 0 0 $general-line-height*2 20px;
			margin-top: -1rem;
		}

			.b-info__title {
				font-size: $title-size;
				font-weight: 500;
				line-height: $title-line-height;
				margin: 0;
				padding: 0 0 $title-offset;
			}

@media (max-width: 800px) {
	.b-info__wrap {
		margin: 0;
		display: block;
	}

		.b-info__chart {
			padding: 0 0 $general-line-height*2;
			width: calc(100% - 30px);
		}

		.b-info__main {
			padding: 0 0 $general-line-height*2;
			width: 100%;
		}
}

@media (max-width: $media-small) {
	.b-info__title {
		font-size: $title-size-small;
	}
}
