@import "var";

.b-translate {
	position: relative;
	text-align: center;
	border: none;
	text-decoration: none;
	color: $text-color;

	&:hover,
	&.focus-visible,
	&:active {
		color: $text-color;
	}

	&::after {
		content: '';
		display: block;
		position: absolute;
		top: -10px;
		right: -10px;
		bottom: -10px;
		left: -10px;
		background: #fff;
		border-radius: $corner-radius;
		@include block-default;
		box-sizing: border-box;
		z-index: -1;
		opacity: 0;
		visibility: hidden;
		transition: $transition;
	}

	&:focus,
	&:hover {
		&::after {
			opacity: 1;
			visibility: visible;
		}
	}
}

	.b-translate__text {
		padding: $general-line-height/2 0 0;
		width: 1px;
		min-width: 100%;
		opacity: 0;
		visibility: hidden;
		transition: opacity $transition, visibility $transition, height 0s;
		transition-delay: 0s, 0s, $transition;
		height: 0;
	}

		.b-translate.focus-visible .b-translate__text,
		.b-translate:hover .b-translate__text {
			transition-delay: 0s, 0s, 0s;
			opacity: 1;
			visibility: visible;
			height: 100%;
		}
