@import "var";

.b-translate {
	position: relative;
	text-align: center;
	border: none;
	text-decoration: none;
	color: $text-color;

	&:hover,
	&.focus-visible,
	&:active {
		color: $text-color;
	}

	&::after {
		content: '';
		display: block;
		position: absolute;
		top: -10px;
		right: -10px;
		bottom: -10px;
		left: -10px;
		background: #fff;
		border-radius: $corner-radius;
		@include block-default;
		box-sizing: border-box;
		z-index: -1;
		opacity: 0;
		visibility: hidden;
		transition: $transition;
	}

	&:focus,
	&:hover {
		&::after {
			opacity: 1;
			visibility: visible;
		}
	}
}

	.b-translate__button {
		animation: warning 3.5s infinite;

		&::before {
			$offset: 0px;
			content: '';
			display: block;
			position: absolute;
			top: $offset;
			right: $offset;
			bottom: $offset;
			left: $offset;
			z-index: 0;
			box-shadow: 0 0 1px 2px rgba($brand, .3);
			animation: warning-border 3.5s infinite;
			opacity: 0;
		}
	}

			.b-translate.focus-visible .b-translate__button,
			.b-translate:hover .b-translate__button {
				animation: none;

				&::before {
					animation: none;
				}
			}

	.b-translate__text {
		padding: $general-line-height/2 0 0;
		width: 1px;
		min-width: 100%;
		opacity: 0;
		visibility: hidden;
		transition: opacity $transition, visibility $transition, height 0s;
		transition-delay: 0s, 0s, $transition;
		height: 0;
	}

		.b-translate.focus-visible .b-translate__text,
		.b-translate:hover .b-translate__text {
			transition-delay: 0s, 0s, 0s;
			opacity: 1;
			visibility: visible;
			height: 100%;
		}


@keyframes warning {
	20%, 60% {
		transform: scale(1);
	}

	40% {
		transform: scale(1.03);
	}
}

@keyframes warning-border {
	0%, 19% {
		transform: scale(1);
		opacity: 0;
	}

	20% {
		transform: scale(1);
		opacity: 1;
	}

	60%, 100% {
		transform: scale(1.2, 1.8);
		opacity: 0;
	}
}
