@import 'var';
@import "./helpers/norm";

html {
	font-kerning: normal;
}

body {
	line-height: $line-height;
	letter-spacing: 0.01em;
	position: relative;
	box-sizing: border-box;
	background: $background;
}

.u-root {
	overflow: hidden;
}

.u-wrap {
	@include wrap;
	position: relative;
}

.u-container {
	position: relative;
}

.u-visually-hidden {
	@include visually-hidden;
}

.u-color-brand {
	color: $brand;
}

.u-color-second {
	color: $second;
}

.u-hidden {
	display: none;
}

a {
	color: $brand;
	text-decoration: none;
	transition: $transition;
	outline: none;
	border-bottom: 1px solid;

	&:hover,
	&:focus {
		color: $brand-dark;
	}

	&:active {
		color: $brand-light;
	}

	&.focus-visible {
		box-shadow: 0 0 1px 4px $brand;
	}

	&:focus-visible {
		box-shadow: 0 0 1px 4px $brand;
	}
}

