@import "var";

.u-button {
	position: relative;
	background: $brand;
	color: $text-on-brand;
	font-family: $system-fonts;
	font-size: px2rem(14);
	font-stretch: 100%;
	font-weight: 500;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	line-height: $line-height;
	padding: .75em 1em;
	display: inline-block;
	border-radius: $corner-radius;
	min-width: 64px;
	border: 2px solid transparent;
	cursor: pointer;
	outline: none;
	transition: $transition;
	@include block-default;
	box-sizing: border-box;
	margin: -2px;

	&:hover {
		background: $brand-dark;
		color: $text-on-brand-dark;
		@include block-hover;
	}

	&:active {
		@include block-active;
		background: $brand-light;
		color: $text-on-brand-light;
	}

	&:focus {
		color: $text-on-brand;
	}

	@include a11y-outline;

	span {
		line-height: normal;
		user-select: none;
		vertical-align: middle;
	}
}

		.u-button--second {
			font-size: px2rem(12);
			background: transparent;
			border-color: currentColor;
			color: $brand;

			&:hover {
				background: rgba(#fff, .4);
				color: $brand-dark;
				@include block-hover;
			}

			&:active {
				@include block-active;
				color: $brand-light;
				background: transparent;
			}

			&:focus {
				color: $brand;
				background: transparent;
			}
		}

		.u-button--with-icon {
			span {
				display: flex;
				align-items: center;
			}
		}
