@import "var";

.u-button {
	position: relative;
	background: $brand;
	color: $text-on-brand;
	font-family: $system-fonts;
	font-size: px2rem(14);
	font-stretch: 100%;
	font-weight: 500;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	line-height: $line-height;
	padding: .75em 1em;
	display: inline-block;
	border-radius: $corner-radius;
	min-width: 64px;
	border: none;
	cursor: pointer;
	outline: none;
	transition: $transition;
	box-sizing: border-box;
	@include block-default;

	&:hover {
		background: $brand-dark;
		color: $text-on-brand-dark;
		@include block-hover;
	}

	&:active {
		background: $brand-light;
		color: $text-on-brand-light;
		@include block-active;
	}

	&:focus {
		color: $text-on-brand;
	}

	@include a11y-outline;

	span {
		display: flex;
		align-items: center;
		user-select: none;
	}
}

		.u-button--small {
			font-size: px2rem(12);
			padding: .5em .75em .35em;
		}
