@import "var";

.u-icon {
	max-width: 24px;
	height: 24px;
	fill: currentColor;
	display: inline-block;
	transform: translateY(-6%);
}

		.u-icon--right-space {
			margin-right: .5ex;
		}

		.u-icon--small {
			width: 16px;
			height: 16px;
		}
