@import 'compass/css3'
@import 'compass/layout/sticky-footer'

*
  margin: 0
  padding: 0

body
  background: white
  color: black
  font-size: 16px
  font-family: sans-serif

code
  font-family: "PT Mono", monospace
  font-size: 14px

a
  outline: none

$easing-width: 120px + 4px

.root, footer
  width: 6 * ($easing-width + 20px) + 35px
  max-width: 100%
  margin: 0 auto
  position: relative

.root
  padding: 0 10px

.about
  padding: 20px ($easing-width + 40px) 5px 0
  line-height: 1.3
  p
    margin-bottom: 5px

.easings
  margin: 0 -30px 0 -10px
  position: relative
  li
    list-style: none
    display: inline-block
    margin: 3px 5px
    padding: 5px
    position: relative
    &.linear
      position: absolute
      top: -140px
      right: 35px
    &.in-out
      margin-right: 25px
  h2
    text-align: center
    font-size: 15px
    font-weight: normal
    margin-bottom: -25px
    position: relative
    z-index: 2
  li.easeOutElastic h2
    +box-shadow(white 0 26px 8px -8px inset)

.easings
  svg
    width: $easing-width
    height: 60px + 80px
    margin-bottom: -30px
    line
      stroke: #bbb
      stroke-width: 1px
    path
      fill: transparent
      stroke: black
      stroke-width: 2px
    text
      font-size: 12px
      fill: #bbb

.easings
  .link
    display: block
  .graph
    text-decoration: none
    position: relative
  .example
    position: absolute
    top: 94px
    left: $easing-width - 2px
    width: 21px
    height: 12px
    overflow: hidden
    .rect
      position: absolute
      top: 0
      right: 0
      bottom: 0
      left: 8px
      background: red
    .arrow
      position: absolute
      background: red
      left: 4px
      top: 1px
      width: 10px
      height: 10px
      +rotate(45deg)
  .dot
    position: absolute
    top: 99px
    left: 1px
    background: #ddd
    width: 2px
    height: 2px
    +border-radius(2px)
  .example, .dot
    opacity: 0
    +transition(opacity 200ms)
  li.hover
    .example, .dot
      opacity: 1

.easings
  li
    +transition(opacity 400ms)
  &.highlighted
    li
      opacity: 0.15
    .example, .dot
      display: none
    li.highlight
      opacity: 1
      .example, .dot
        display: block
.howtos
  margin-top: -10px
  a
    color: black
  h2
    font-weight: normal
    font-size: 25px
    padding: 17px 0 5px 0
  p
    padding-bottom: 5px
  pre
    padding-top: 5px
    code
      font-size: 13px
    .easing
      color: red
      font-size: 14px
  .no-css-support
    display: none

.open-source
  display: block
  position: absolute
  width: 80px
  height: 80px
  top: 0
  right: 0
  text-decoration: none
  &:active
    .background
      background: #ddd
  .crop
    position: absolute
    top: 0
    left: -10px
    width: 90px
    height: 90px
    overflow: hidden
  .background, .corner
    position: absolute
    top: -65px
    left: 32px
    width: 120px
    height: 120px
    +rotate(45deg)
  .background
    background: #e8e8e8
    +box-shadow(rgba(0, 0, 0, 0.5) 0 -7px 7px -7px inset)
  .source
    position: absolute
    color: black
    text-shadow: white 0 1px 0
    left: 40px
    line-height: 1.1
    code
      font-size: 10px
  .source-crop
    position: absolute
    width: 120px
    height: 120px
    background: white
    top: 22px
    left: -50px
    +rotate(45deg)
  .octocat
    position: absolute
    width: +image-width("octocat.png")
    height: +image-height("octocat.png")
    background: inline-image("octocat.png")
    +rotate(45deg)
    top: 24px
    left: 43px
    +box-shadow(rgba(0, 0, 0, 0.4) 0 -5px 5px -5px inset)
  .corner
    position: absolute
    overflow: hidden
    left: 21px
    top: -66px
  .title
    position: absolute
    top: 82px
    left: 23px
    width: 82px
    height: 80px
    +rotate(45deg)
    background: white
    +box-shadow(rgba(0, 0, 0, 0.5) 0 0 3px)
  .border, .text
    position: absolute
    bottom: 0
    width: 100%
  .border
    border-top: 1px dashed #999
  .text
    bottom: 4px
    text-align: center
    font-size: 12px
    color: #666
    padding-left: 5px
  .rotator
    position: absolute
    width: 80px
    height: 80px
    left: 10px
    z-index: 3

.transform3d
  .open-source
    .text, .border
      +backface-visibility(hidden)
    .rotator
      +transition(all 600ms linear)
    .shadow
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      background: rgba(0, 0, 0, 0.1)
      opacity: 0
    &.unhover
      .rotator
        -moz-animation: unbending 600ms linear
    &.hover
      .rotator
        -moz-animation: bending 600ms linear
        +rotate3d(1, 1, 0, 180deg)

@-moz-keyframes bending
  from
    -moz-transform: rotate3d(1, 1, 0, 0)
  to
    -moz-transform: rotate3d(1, 1, 0, 180deg)

@-moz-keyframes bending
  from
    -moz-transform: rotate3d(1, 1, 0, 180deg)
  to
    -moz-transform: rotate3d(1, 1, 0, 0)

.transform2d
  .open-source
    &:hover
      .text, .border
        display: none
      .rotator
        +rotate(180deg)

+sticky-footer(34px, ".root", ".root-footer", "footer")

footer
  height: 32px
  line-height: 32px
  text-align: right
  li
    font-family: "Trebuchet MS", sans-serif
    list-style: none
    display: inline-block
    font-size: 12px
    padding-right: 5px
    a
      color: #888
      &:hover
        text-decoration: none
    .current
      color: black
