@import 'compass/css3'
@import 'compass/layout/sticky-footer'

*
  margin: 0
  padding: 0

body
  background: white
  color: black
  font-size: 16px
  font-family: sans-serif

code
  font-family: "PT Mono", monospace
  font-size: 14px

a
  outline: none

$easing-width: 120px + 4px

.root, footer
  width: 6 * ($easing-width + 20px) + 35px
  max-width: 100%
  margin: 0 auto
  position: relative

.root
  padding: 0 10px

.about
  padding: 20px ($easing-width + 40px) 5px 0
  line-height: 1.3
  p
    margin-bottom: 5px

.easings
  margin: 0 -30px 0 -10px
  position: relative
  li
    list-style: none
    display: inline-block
    margin: 5px
    padding: 5px
    position: relative
    &.linear
      position: absolute
      top: -140px
      right: 35px
    &.in-out
      margin-right: 25px
  h2
    text-align: center
    font-size: 15px
    font-weight: normal
    margin-bottom: -25px
    position: relative
    z-index: 2
  li.easeOutElastic h2
    +box-shadow(white 0 26px 8px -8px inset)

.easings
  svg
    width: $easing-width
    height: 60px + 80px
    margin-bottom: -30px
    line
      stroke: #bbb
      stroke-width: 1px
    path
      fill: transparent
      stroke: black
      stroke-width: 2px
    text
      font-size: 12px
      fill: #bbb

.easings
  .link
    display: block
  .graph
    text-decoration: none
    position: relative
  .example
    position: absolute
    top: 94px
    left: $easing-width - 2px
    width: 21px
    height: 12px
    overflow: hidden
    .rect
      position: absolute
      top: 0
      right: 0
      bottom: 0
      left: 8px
      background: red
    .arrow
      position: absolute
      background: red
      left: 4px
      top: 1px
      width: 10px
      height: 10px
      +rotate(45deg)
  .dot
    position: absolute
    top: 99px
    left: 1px
    background: #ddd
    width: 2px
    height: 2px
    +border-radius(2px)
  .example, .dot
    opacity: 0
    +transition(opacity 200ms)
  li.hover
    .example, .dot
      opacity: 1

.easings
  li
    +transition(opacity 400ms)
  &.highlighted
    li
      opacity: 0.15
    .example, .dot
      display: none
    li.highlight
      opacity: 1
      .example, .dot
        display: block
.howtos
  margin-top: -10px
  a
    color: black
  h2
    font-weight: normal
    font-size: 25px
    padding: 17px 0 5px 0
  p
    padding-bottom: 5px
  pre
    padding-top: 5px
    code
      font-size: 13px
    .easing
      color: red
      font-size: 14px
  .no-css-support
    display: none

+sticky-footer(34px, ".root", ".root-footer", "footer")

footer
  height: 32px
  line-height: 32px
  li
    font-family: "Trebuchet MS", sans-serif
    list-style: none
    display: inline-block
    font-size: 12px
    padding-right: 5px
    a
      color: #888
      &:hover
        text-decoration: none
    .current
      color: black
