mixin CodeCss()
	-
		var html = '<span class="u-color-second">.block</span> {<br>';
		html += '<span class="b-example__tab"></span><span class="u-color-second">transition</span>: ';
		html += 'transform 0.6s <span class="u-color-brand js-info-func"> </span>;<br>';
		html += '}'

	!= html
