mixin CodeCss()
	-
		var html = '<span class="u-color-second">.block</span> {\n';
		html += '\t<span class="u-color-second">transition</span>: ';
		html += 'transform 0.6s <span class="u-color-brand js-info-func"> </span>;\n';
		html += '}'

	code!= html
