mixin CodePostCss()
	-
		var html = '<span class="u-color-second">.block</span> {<br>';
		html += '<span class="u-tab"></span><span class="u-color-second">transition</span>: transform 0.6s ';
		html += '<span class="u-color-brand js-info-name"> </span>;<br>'
		html += '}'

	!= html
