mixin CodePostCss()
	-
		var html = '<span class="u-color-second">.block</span> {<br>';
		html += '<span class="b-example__spaces"></span><span class="u-color-second">transition</span>: transform 0.6s ';
		html += '<span class="u-color-brand name"> </span>;<br>'
		html += '}'

	code!= html
