mixin example-copy
	.example-copy
		button.example-copy__button.button.button--small
			svg.example-copy__icon(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
				use(xlink:href="#copy")
		.example-copy__code
			block
