html {
	line-height: var(--line-height);
	text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	font-family: system-ui, sans-serif;
	font-size: 100%;
	color: var(--main-text-color);
}

body {
	line-height: var(--line-height);
	position: relative;
	box-sizing: border-box;
	background: var(--main-background);
	margin: 0;
}

a {
	color: var(--brand-color);
	text-decoration: none;
	transition: var(--transition-time);
	outline: none;
	border-bottom: 1px solid;
}

	a:hover,
	a:focus {
		color: var(--brand-darken-color);
	}

	a:active {
		color: var(--brand-color);
		transition: none;
	}

	a.focus-visible {
		box-shadow: 0 0 1px 4px var(--brand-color);
	}

	a.focus-visible {
		box-shadow: 0 0 1px 4px var(--brand-color);
	}

pre {
	font-family: var(--code-fonts);
	margin: 0;
	tab-size: 25px;
}
