:root {
	--text-color: #222;
	--text-light-color: #666;

	--brand-color: #166cc1;
	--brand-color-text: #fff;
	--brand-darken-color: #004ba0;
	--brand-darken-color-text: #fff;
	--brand-lighten-color: #63a4ff;
	--brand-lighten-color-text: var(--text-color);

	--second-color: #00c853;

	--chart-axis-color: #ccc;

	--transition-time: 0.2s;
	--transition-card-time: 1s;
	--transition-show-time: 1.5s;

	--line-height: 1.4;
	--line-height-code: 1.5;
	--general-line-height: 22px;

	--code-fonts: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

html {
	line-height: var(--line-height);
	text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	font-family: system-ui, sans-serif;
	font-size: 100%;
	color: var(--text-color);
}

body {
	line-height: var(--line-height);
	position: relative;
	box-sizing: border-box;
	background: #f8f8f8;
	margin: 0;
}

a {
	color: var(--brand-color);
	text-decoration: none;
	transition: var(--transition-time);
	outline: none;
	border-bottom: 1px solid;
}

	a:hover,
	a:focus {
		color: var(--brand-darken-color);
	}

	a:active {
		color: var(--brand-lighten-color);
	}

	a.focus-visible {
		box-shadow: 0 0 1px 4px var(--brand-color);
	}

	a.focus-visible {
		box-shadow: 0 0 1px 4px var(--brand-color);
	}
