.translate {
	position: relative;
	text-align: center;
	border: none;
	text-decoration: none;
}

		.translate--with-background {
			background: #fff;
			padding: 10px 15px;
		}

	.translate__text {
		width: 1px;
		min-width: 100%;
		box-sizing: border-box;
		padding: 5px 0 0;
	}

@media (prefers-color-scheme: dark) {
	.translate--with-background {
		background: var(--dark-background);
	}
}
