.translate {
	position: relative;
	text-align: center;
	border: none;
	text-decoration: none;
}

		.translate--with-background {
			background: var(--second-background);
			padding: 10px 15px;
		}

	.translate__text {
		width: 1px;
		min-width: 100%;
		box-sizing: border-box;
		padding: 5px 0 0;
	}
