.overlay {
	position: absolute;
	z-index: 1;
	background: var(--second-background);
	will-change: width, height, top, left;
	transform: translateZ(0);
	box-shadow: 0 2px 8px var(--transparent-color-5);
}
