include error/error

doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no,viewport-fit=cover")
		meta(http-equiv="x-ua-compatible" content="ie=edge")

		title Page not found
		meta(name="theme-color" content="#1473e6")
		link(rel="manifest" href="./manifest.webmanifest")
		link(rel="icon" type="image/png" href="./icons/96.png")
		link(rel="mask-icon" href="./icons/mask.svg" color="#1473e6" sizes="any")

		meta(property="og:url" content="http://easings.net/")
		meta(property="og:image" content="./icons/192.png")

		link(href="./404.css" rel="stylesheet")

	body
		+error
