include ../external-link/external-link

mixin footer
	.footer
		.footer__group
			.footer__copyright
				+external-link("https://sitnik.ru/").footer__link {{ authors.sitnik }}
				!= ` {{ authors.separator }} `
				+external-link("https://solovev.one/").footer__link {{ authors.solovev }}

			.footer__list
				select.footer__theme(aria-label="Select theme")
					option(value="auto") {{ theme.auto }}
					option(value="light") {{ theme.light }}
					option(value="dark") {{ theme.dark }}

			.footer__lang.footer__list
				ul(aria-label="Select language").
					{{#langList}}
						{{{.}}}
					{{/langList}}
