include ../external-link/external-link

mixin footer
	.footer
		.footer__group
			.footer__copyright
				+external-link("https://sitnik.ru/") {{ authors.sitnik }}
				!= ` {{ covenant }} `
				+external-link("https://solovev.one/") {{ authors.solovev }}

			label.footer__lang(aria-label="Select language")
				select.
					{{#langList}}
						<option value="{{ code }}" {{{selected}}}>{{ name }}</option>
					{{/langList}}
