include ../external-link/external-link

mixin footer
	.footer
		.footer__group
			.footer__copyright
				+external-link("https://sitnik.ru/").footer__link {{ authors.sitnik }}
				!= ` {{ authors.separator }} `
				+external-link("https://solovev.one/").footer__link {{ authors.solovev }}

			.footer__lang
				ul(aria-label="Select language").
					{{#langList}}
						{{{.}}}
					{{/langList}}
