include ../external-link/external-link

mixin footer
	.footer
		.footer__group
			.footer__copyright
				+external-link("https://twitter.com/andrey_sitnik") Андрей Ситник
				!= ` и `
				+external-link("https://solovev.one/") Иван Соловьев

			.footer__lang
				| <select><option value="/af">Afrikaans</option><option value="/az">Azərbaycanca</option><option value="/ca">Català</option><option value="/cs">Český</option><option value="/cy">Welsh</option><option value="/da">Dansk</option><option value="/de">Deutsch</option><option value="/en">English</option><option value="/es">Español</option><option value="/fa">فارسی</option><option value="/fr">Français</option><option value="/id">Bahasa Indonesia</option><option value="/it">Italiano</option><option value="/ja">日本語</option><option value="/ko">한국어</option><option value="/nb">Norsk (bokmål)</option><option value="/nl">Nederlands</option><option value="/pl">Polski</option><option value="/pt">Português</option><option value="/pt-br">Português brasileiro</option><option value="/ru" selected="selected">Русский</option><option value="/sk">Slovenský</option><option value="/sr-latn">Srpski</option><option value="/sv-se">Svenska</option><option value="/tr">Türkçe</option><option value="/uk">Українська</option><option value="/vi">Tiếng Việt</option><option value="/zh-cn">简体中文</option><option value="/zh-tw">繁體中文</option></select>
