@import "functions";

$easings: (
	"easeInElastic",
	"easeOutElastic",
	"easeInOutElastic",
	"easeInBounce",
	"easeOutBounce",
	"easeInOutBounce"
);

@each $item in $easings {
	@keyframes cursor-#{$item} {
		@for $j from 0 through 50 {
			$i: $j * 2;

			#{$i}% {
				top: #{101% - call(get-function($item), $i/100) * 100%};
			}
		}
	}

	@keyframes opacity-#{$item} {
		@for $j from 0 through 50 {
			$i: $j * 2;

			#{$i}% {
				$opacity: 1 - call(get-function($item), $i/100);

				@if ($opacity > 1) {
					$opacity: 1;
				}

				@if ($opacity < 0) {
					$opacity: 0;
				}

				opacity: $opacity;
			}
		}
	}

	@keyframes scale-#{$item} {
		@for $j from 0 through 50 {
			$i: $j * 2;

			#{$i}% {
				transform: scale(#{1 - call(get-function($item), $i/100)});
			}
		}
	}

	@keyframes translate-#{$item} {
		@for $j from 0 through 50 {
			$i: $j * 2;

			#{$i}% {
				transform: translateX(#{call(get-function($item), $i/100) * -100%});
			}
		}
	}

}
